.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    padding: 10px 20px;
    background: orangered;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
.accordian{
    width: 500px;
}
.item{
    background: #01612b;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.title{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color: #fff;
    height: auto;

}